$navbar-default-bg: black;

@import "bootstrap";

#logo {
	float: left;
	font-size: 1.7;
	color: #grey;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover {
	color: #00ff00;
	text-decoration: none;
}

.btn-xlarge{
	background-color: #073B15;
}
.center{
	text-align: center
}

.jumbotron{
	background-image: asset-url('jumbo.jpg');
	background-size: cover;
	height: 300px;
}

.footer{
	text-align: center;
	font-size: 1.1em;
}

.description{
	margin-top: 0;
}

.well a{
	color: #073B15;
}

.chef_info{
	margin-top: 10px;
}

.colormatch a{
	color: #073B15;
}

.recipe-actions{
	padding-top: 5px;
	a{
		color: #fff;
	}
}

.listing{
	list-style: none;
	padding-left: 0;
}

.chef-title{
	color: #073B15;
	font-weight: bold;
	font-size: 1.25em;
}