<footer class="footer">
  <div class="container">
   
 <small>
    <strong><a href="http://www.karoma.co.tz/">Vikatech Solutions</a></strong>
    by<em><a href="http://www.karoma.co.tz/"> Kaizilege Karoma</a></em>
</small>
<nav>
	<ul>
		<li><%= link_to "About", '#' %></li>
	</ul>
</nav>
  </div>
</footer>